build
mj++

# profile data
gmon.out

# project files of various IDEs
*.sublime-workspace
*.pro
*.pro.user
doc/doxygen

# run test case artifacts
*.S
*.out
*.vcg

# latex slides crap
doc/slides/*
!doc/slides/beamercolorthemeKIT.sty
!doc/slides/beamerfontthemeKIT.sty
!doc/slides/beamerinnerthemeKIT.sty
!doc/slides/beamerouterthemeKIT.sty
!doc/slides/beamerthemeKIT.sty
!doc/slides/KIT16.clo
!doc/slides/KIT18.clo
!doc/slides/KIT20.clo
!doc/slides/KIT22.clo
!doc/slides/KIT24.clo
!doc/slides/KITcolors.sty
!doc/slides/KITdefs.sty
!doc/slides/kit_logo_de_1c_schwarz.pdf
!doc/slides/kit_logo_de_4c_positiv.pdf
!doc/slides/kit_logo_de_4c_positiv-rgb.pdf
!doc/slides/kit_logo_en_1c_schwarz.pdf
!doc/slides/kit_logo_en_4c_positiv.pdf
!doc/slides/kit_logo_en_4c_positiv-rgb.pdf
!doc/slides/KITmcfloat.sty
!doc/slides/slides.tex
!doc/slides/Bilder
doc/slides/Bilder/*
!doc/slides/Bilder/bildwand.jpg
!doc/slides/Bilder/KIT-Finale-c.png
!doc/slides/Bilder/KIT-Innovation.png
!doc/slides/Bilder/KIT-Kooperation.png
!doc/slides/Bilder/KIT-Labor1.png
!doc/slides/Bilder/KIT-Labor2.png
!doc/slides/Bilder/KIT-Labor3.png
!doc/slides/Bilder/KIT-Liste1.png
!doc/slides/Bilder/KIT-Liste2.png
!doc/slides/Bilder/KIT-Promotion.png
!doc/slides/Bilder/KIT-Research.png
!doc/slides/Bilder/KIT-Schwerpunkt1.png
!doc/slides/Bilder/KIT-Schwerpunkt2.png
!doc/slides/Bilder/KIT-Schwerpunkt3.png
!doc/slides/Bilder/KIT-Teaching.png
!doc/slides/Bilder/KIT-Titel.png
!doc/slides/Bilder/KIT-Zentren.png
!doc/slides/Bilder/Small.pdf
!doc/slides/Bilder/tasten.jpg
!doc/slides/Bilder/Zlogo.pdf
